@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#box-glass {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}
::-webkit-scrollbar {
  display: none;
}

/* checkbox */
.container-checkbox {
  cursor: pointer;
}

.container-checkbox input {
  display: none;
}

.container-checkbox svg {
  overflow: visible;
}

.path {
  fill: none;
  stroke: #e11d48;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
  stroke-dasharray: 241 9999999;
  stroke-dashoffset: 0;
}

.container-checkbox input:checked ~ svg .path {
  stroke-dasharray: 70.5096664428711 9999999;
  stroke-dashoffset: -262.2723388671875;
}
